= form_for @article, html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'text_field input input-block-level'
  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description, class: 'text_field input input-block-level', rows: 2
  .control-group
    = f.label :content, class: 'control-label'
    .controls
      = f.text_area :content, class: 'text_field input input-block-level', rows: 15
  .control-group
    = f.label :slug, class: 'control-label'
    .controls
      = f.text_field :slug, class: 'text_field input span2'
  .control-group
    .controls
      = f.label :published do
        = f.check_box :published, {}, true
        = Article.human_attribute_name('published')
  .form-actions
    = f.submit t('helpers.submit.save'), class: 'btn btn-primary'
    = f.submit t('helpers.submit.save_and_continue'), class: 'btn btn-success'
    = f.submit t('helpers.submit.preview'), class: 'btn btn-info btn-preview'
    - if @article.persisted?
      = link_to t('helpers.links.back'), @article, class: 'btn'
    - else
      = link_to t('helpers.links.back'), articles_path, class: 'btn'

= content_for :after_javascript do
  :coffee
    $ ->
      $('.btn-preview').on 'click', ->
        $el = $(@)
        $form = $el.parents('form')
        $form.attr('target', '_blank')
        $preview_field = $('<input type="hidden" name="preview" value="1">')
        $form.append($preview_field)
        $form.submit()
        $preview_field.remove()
        $form.removeAttr('target')
