!!! 5
%html(lang="en")
  %head
    = render 'shared/head'
  - is_devise_controller = controller_path =~ /^devise/
  - body_klass = (is_devise_controller ? 'common_bg welcome' : 'common_bg')
  %body{ class: body_klass }
    - unless is_devise_controller
      = render 'shared/header'
    %section.container#main_editor
      = bootstrap_flash
      = yield
    = javascript_include_tag "application"
    - if content_for? :after_javascript
      = yield :after_javascript
