!!! 5
%html(lang="en")
  %head
    = render 'shared/head'
  %body.common_bg
    %section.container
      = bootstrap_flash
      = yield
    = javascript_include_tag "application"
    - if content_for? :after_javascript
      = yield :after_javascript
