!!! 5
%html(lang="en")
  %head
    = render 'shared/head'
  %body.common_bg
    = render 'shared/google_analytics'
    = yield
    = include_gon
    = javascript_include_tag "application"
    = javascript_include_tag "app/application"
    - if content_for? :after_javascript
      = yield :after_javascript
